<aside class="toc col-lg-3 col-md-3">
  {{ if (default true (.Params.toc)) }}
  <div class="toc-content well">
    <header>
      <h2>{{.Title}}</h2>
    </header>
    {{.TableOfContents}}
  </div>
  {{ end }}
</aside>

<script>
  const element = document.querySelector('.toc-content');
  const lists = element.querySelectorAll('ul');

  if (lists.length === 0) {
    element.classList.add("hidden")
  }

</script>